<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <script>
      var initialState = {
        tasks: <%= ActiveModel::Serializer::ArraySerializer.new(Task.all, each_serializer: TaskSerializer).to_json.html_safe %>
      }
    </script>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
